<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landrick Project</title>
  </head>
  <body>
    <nav class="navbar display-flex">
      <div class="display-flex__align-self-start">
        <a class="navbar__brand" href=""></a>
      </div>
      <div class="display-flex__align-self-center"></div>
      <div class="display-flex__align-self-end"></div>
    </nav>
  </body>
</html>
