<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landrick Project</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__brand" href="">Landrick.</a>
      <ul class="navbar__items">
        <li class="navbar__item">
          <a class="navbar__link" href="">
            Home
          </a>
        </li>
        <li class="navbar__item dropdown">
          <a class="navbar__link" href="">
            Landing
          </a>
          <ul class="dropdown__items">
            <li class="dropdown__item">
              <a class="dropdown__link" href="">SAAS</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">AGENCY</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">APPLICATION</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">STUDIO</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">BUSINESS</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">MODERN BUSINESS</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">HOTEL</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">MARKETING</a>
            </li>
            <li class="dropdown__item">
              <a class="dropdown__link" href="">ENTERPRISE</a>
            </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="">
            Pages
          </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="">
            Doc
          </a>
        </li>
      </ul>
      <button class="btn btn--primary ">Buy now</button>
    </nav>
  </body>
</html>
