body {
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

div {
  margin-top: 40px;
}

h1 {
  color: $header-color;
}

small {
  color: $small-color;
}
