// .row {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   grid-column-gap: 30px;
//   justify-content: center;
//   margin: 0;
// }
// is not supported by every browser

.row {
  display: flex;
  margin: 0;

  .col {
    box-sizing: border-box;
    margin: 30px;
    // no margin collapse in flexbox

    &--50 {
      width: 50%;
    }

    &--30 {
      width: 30%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
