.btn {
  padding: 15px 20px;
  margin: 20px;
  border-radius: 30px;
  outline: none;
}

@each $name, $colors in $button-colors {
  .btn-#{$name} {
    color: map-get($colors, "color");
    background-color: map-get($colors, "bg-color");
    border-color: map-get($colors, "bg-color");
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: map-get($colors, "bg-color-hover");
      color: map-get($colors, "color-hover");
      border-color: map-get($colors, "bg-color-hover");
      cursor: pointer;
    }

    &[disable] {
      cursor: not-allowed;
      @if $name == "default" {
        background-color: #cdcdcd;
      } @else {
        background-color: lighten(map-get($colors, "bg-color"), 15%);
      }
    }
  }
}
