.dropdown {
  position: relative;

  &__items {
    position: absolute;
    padding: 10px 5px;
    display: none;
    width: 190px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #00000069;
    border-radius: 10px;
    top: 100%;
    left: 0;
  }

  &:hover {
    .dropdown__items {
      display: block;
    }
  }

  &__item {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
  }

  &__link {
    color: #3c4858;

    &:hover {
      color: $primary-color;
    }
  }
}
