.form {
  margin: 15px 0;
  width: 100%;
  position: relative;

  &__input {
    padding: 13px 25px;
    background-color: #2c3a5c;
    @include font-config(16px);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 15px 5px;
    width: 100%;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      @include font-config(16px);
      color: #ffffff;
    }
  }

  &__btn {
    width: 100%;
  }
}
